<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>date-fns - modern JavaScript date utility library</title>
    <meta
      name="description"
      content="date-fns provides the most comprehensive yet simple and consistent toolset for manipulating JavaScript dates in a browser & Node.js."
    />
    <meta name="keywords" content="JS, JavaScript, date, library" />

    <!-- Favicons -->

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-icon-180x180.png"
    />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-icon-192x192.png"
    />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Social meta tags -->

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@date_fns" />
    <meta name="twitter:creator" content="@kossnocorp" />
    <meta
      name="twitter:title"
      content="Modern JavaScript Date Utility Library"
    />
    <meta
      name="twitter:description"
      content="date-fns provides the most comprehensive yet simple and consistent toolset for manipulating JavaScript dates in a browser & Node.js."
    />
    <meta name="twitter:image" content="https://date-fns.org/card.png" />

    <!-- Facebook -->
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Modern JavaScript Date Utility Library"
    />
    <meta
      property="og:description"
      content="date-fns provides the most comprehensive yet simple and consistent toolset for manipulating JavaScript dates in a browser & Node.js."
    />
    <meta property="og:image" content="https://date-fns.org/card.png" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="330" />
  </head>
  <body>
    <link rel='stylesheet' type='text/css' href='<%= entryPath('web', 'css') %>'
    /> <%- content %>

    <!-- Sentry -->
    <% if (config.sentry) { -%>
    <script
      src="https://cdn.ravenjs.com/3.26.4/raven.min.js"
      crossorigin="anonymous"
    ></script>
    <script>
      Raven.config('<%= config.sentry %>', {
        environment: '<%= appEnv %>'
      }).install()
    </script>
    <% } -%>

    <script>
      window.initialState = <%- JSON.stringify(initialState) %>
    </script>
    <script src="<%= entryPath('web') %>"></script>

    <!-- Google Analytics -->
    <% if (config.gtag && config.gtag) { -%>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=<%= config.gtag %>"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', '<%= config.gtag %>')
    </script>
    <% } -%>
  </body>
</html>
